<h1>Datenschutzerkl&aumlrung</h1>
<h2>1. Datenschutz auf einen Blick</h2>
<h3>Allgemeine Hinweise</h3> <p>Die folgenden Hinweise geben einen einfachen &Uumlberblick dar&uumlber, was mit Ihren personenbezogenen Daten passiert, wenn Sie unsere App benutzen. Personenbezogene Daten sind alle Daten, mit denen Sie pers&oumlnlich identifiziert werden k&oumlnnen. Ausf&uumlhrliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgef&uumlhrten Datenschutzerkl&aumlrung. Bitte beachten Sie, dass die App nur ein datenbasierter Automat ist und nicht vollst&aumlndig menschliche Bed&uumlrfnisse erkennen und verstehen kann. Die Nutzung dieser App und all ihrer Funktionen geschieht auf die Verantwortung des Nutzers. Die Betreiber &uumlbernehmen keine Verantwortung f&uumlr alle Art von Schaden, die dem Nutzer entstehen.</p>
<h3>Datenerfassung in unserer App</h3> <p><strong>Wer ist verantwortlich f&uumlr die Datenerfassung in dieser App?</strong></p> <p>Die Datenverarbeitung in dieser App erfolgt durch den Appbetreiber. Dessen Kontaktdaten finden Sie unter Hinweis zur verantwortlichen Stelle.</p> <p><strong>Wie erfassen wir Ihre Daten?</strong></p> <p>Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z.B. um Daten handeln, die Sie in ein Textfeld eingeben oder deren Speicherung Sie durch aktivieren von Buttons ausl&oumlsen. </p> <p><strong>Welche Daten werden durch Nutzen der App erhoben?</strong></p><p>Die App ben&oumltigt die durch Ihre Eingabe entstandenen Daten rein zu Optimierungszwecken Ihres Trainingsverhaltens. Dazu geh&oumlren:
<ol>
  <li>Die von Ihnen erstellten Workoutpl&aumlne, deren Namen und abgeleitete Eigenschaften</li>
  <li>Die von Ihnen erstellten &Uumlbungen, deren Namen und abgeleitete Eigenschaften</li>
  <li>Die von Ihnen erstellten Workouts sowie deren Anfangs- und Endzeitpunkt</li>
  <li>Die von Ihnen erstellten Sets sowie Pausendauer, &Uumlbungsgewicht und Wiederholungszahl</li>
  <li>Die aus der Optimierung Ihrer Daten erzeugten Parameter</li>
  <li>Ihre Zustimmung dieser Datenschutzerkl&aumlrung</li>
</ol></p> 
<p><strong>Was passiert mit meinen Anmeldedaten wie Nutzername und Email?</strong></p> 
<p>Email und Nutzername werden nur bei Anmeldung auf eigenen Wunsch des Nutzers gespeichert. Die App verwendet Firebase und die Daten werden nicht an Dritte weitergegeben. Email und Nutzernamen werden zur Identifizierung aufgezeichnet, um das Teilen von Inhalten zu ermöglichen.</p>

<p><strong>Was passiert bei Teilen / Hochladen von &Uumlbungsdaten?</strong></p> 
<p>Auf eigenen Wunsch k&oumlnnen Nutzer Daten teilen. Diese bleiben in Firebase bestehen um allen beabsichtigten Nutzern Zugang zu gewähren. Dieser Zugang ist nur anderen Nutzern der App m&oumlglich, die den Link vom Erheber der Daten erhalten haben. Es werden dieselben Daten gespeichert wie oben genannt zuz&uumlglich:
<ol>
  <li>Eine jedem Nutzer und jedem Datensatz einzigartige ID</li>
</ol>
</p>
<p><strong>Wof&uumlr nutzen wir Ihre Daten?</strong></p> <p>Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der App zu gew&aumlhrleisten. Abgesehen von Crash Reports und anderen anonymisierten, standardm&auml&szligig von Google aufgezeichneten und im Folgenden dargelegten Daten werden Ihre Daten sofern nicht durch Sie anders verf&uumlgt nur auf Ihrem Ger&aumlt gespeichert und sind nicht von uns oder dritten einsehbar.</p>
<h3>Analyse-Tools und Tools von Drittanbietern</h3> <p><strong>Google Analytics</strong></p>
<p>Diese App benutzt Google Analytics, einen Webanalysedienst von Google. Google Analytics verwendet Cookies. Weitere Informationen zu Cookies und deren Opt-out-M&oumlglichkeiten findest du in unserer Cookie-Richtlinie. Wir verwenden Google Analytics, um die Nutzung unserer Produkte zu analysieren und st&aumlndig zu verbessern. Die Produkte verwenden Google Analytics in Verbindung mit der Option “_anonymizeIP()”. Dies bedeutet, dass IP-Adressen in verk&uumlrzter Form verarbeitet werden, um die &Uumlbermittlung von personenbezogenen Daten zu verhindern. Grundlage f&uumlr die Datenverarbeitung sind unsere berechtigten Interessen.

<p><strong>Google Analytics f&uumlr Mobiltelefone</strong></p>
<p>Allgemeines. F&uumlr Apps auf iOS und Android verwenden wir Google Analytics for Mobile von Google (weitere Informationen findest du hier ). Die Nutzerdaten werden in anonymisierter Form an Google &uumlbermittelt. Unsere Apps nutzen IDs f&uumlr mobile Endger&aumlte, wie die Google Advertising ID (“GAID”) und die ID for Advertising for iOS (“IDFA”), sowie Technologien &aumlhnlich wie Cookies f&uumlr die Nutzung von Google Analytics f&uumlr Mobiltelefone.</p>
<p>Zweck. Wir verwenden Google Analytics, um die Nutzung unserer Produkte zu analysieren und st&aumlndig zu verbessern. Durch die Statistiken sind wir in der Lage, unsere Dienstleistungen zu verbessern und f&uumlr die Nutzer interessanter zu machen. In besonderen F&aumlllen, in denen personenbezogene Daten in die USA &uumlbermittelt werden, wird Google &uumlber den EU-US-Datenschutzschild zertifiziert. Grundlage f&uumlr die Datenverarbeitung sind unsere berechtigten Interessen.</p> <p><strong>Welche Rechte haben Sie bez&uumlglich Ihrer Daten?</strong></p> <p>Sie haben jederzeit das Recht unentgeltlich Auskunft &uumlber Herkunft, Empf&aumlnger und Zweck Ihrer gespeicherten personenbezogenen Daten zu erhalten. Sie haben au&szligerdem ein Recht, die Berichtigung, Sperrung oder L&oumlschung dieser Daten zu verlangen. Hierzu sowie zu weiteren Fragen zum Thema Datenschutz k&oumlnnen Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. Des Weiteren steht Ihnen ein Beschwerderecht bei der zust&aumlndigen Aufsichtsbeh&oumlrde zu.</p> <p>Au&szligerdem haben Sie das Recht, unter bestimmten Umst&aumlnden die Einschr&aumlnkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen. Details hierzu entnehmen Sie der Datenschutzerkl&aumlrung unter Recht auf Einschr&aumlnkung der Verarbeitung.</p>
<p>Sie k&oumlnnen dieser Analyse widersprechen. &Uumlber die Widerspruchsm&oumlglichkeiten werden wir Sie in dieser Datenschutzerkl&aumlrung informieren.</p>
<h2>2. Allgemeine Hinweise und Pflichtinformationen</h2>
<h3>Datenschutz</h3> <p>Die Betreiber dieser Seiten nehmen den Schutz Ihrer pers&oumlnlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerkl&aumlrung.</p> 
<h3>Hinweis zur verantwortlichen Stelle</h3> <p>Die verantwortliche Stelle f&uumlr die Datenverarbeitung auf dieser App ist:</p> <p>Jan Eisenberg<br />
72076 T&uumlbingen<br/>
E-Mail: jan.eisenberg@gmail.com</p>
 <p>Verantwortliche Stelle ist die nat&uumlrliche oder juristische Person, die allein oder gemeinsam mit anderen &uumlber die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten entscheidet.</p>
<h3>Widerruf Ihrer Einwilligung zur Datenverarbeitung</h3> <p>Viele Datenverarbeitungsvorg&aumlnge sind nur mit Ihrer ausdr&uumlcklichen Einwilligung m&oumlglich. Sie k&oumlnnen eine bereits erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns. Die Rechtm&auml&szligigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unber&uumlhrt.</p>
<h3>Widerspruchsrecht gegen die Datenerhebung in besonderen F&aumlllen sowie gegen Direktwerbung (Art. 21 DSGVO)</h3> <p><strong>Wenn die Datenverarbeitung auf Grundlage von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, haben Sie jederzeit das Recht, aus Gr&uumlnden, die sich aus Ihrer besonderen Situation ergeben, gegen die Verarbeitung Ihrer personenbezogenen Daten Widerspruch einzulegen; dies gilt auch f&uumlr ein auf diese Bestimmungen gest&uumltztes Profiling. Die jeweilige Rechtsgrundlage, auf denen eine Verarbeitung beruht, entnehmen Sie dieser Datenschutzerkl&aumlrung. Wenn Sie Widerspruch einlegen, werden wir Ihre betroffenen personenbezogenen Daten nicht mehr verarbeiten, es sei denn, wir k&oumlnnen zwingende schutzw&uumlrdige Gr&uumlnde f&uumlr die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten &uumlberwiegen oder die Verarbeitung dient der Geltendmachung, Aus&uumlbung oder Verteidigung von Rechtsanspr&uumlchen (Widerspruch nach Art. 21 Abs. 1 DSGVO).</strong></p> <p><strong>Werden Ihre personenbezogenen Daten verarbeitet, um Direktwerbung zu betreiben, so haben Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung Sie betreffender personenbezogener Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch f&uumlr das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht. Wenn Sie widersprechen, werden Ihre personenbezogenen Daten anschlie&szligend nicht mehr zum Zwecke der Direktwerbung verwendet (Widerspruch nach Art. 21 Abs. 2 DSGVO).</strong></p>
<h3>Beschwerderecht bei der zust&aumlndigen Aufsichtsbeh&oumlrde</h3> <p>Im Falle von Verst&ouml&szligen gegen die DSGVO steht den Betroffenen ein Beschwerderecht bei einer Aufsichtsbeh&oumlrde, insbesondere in dem Mitgliedstaat ihres gew&oumlhnlichen Aufenthalts, ihres Arbeitsplatzes oder des Orts des mutma&szliglichen Versto&szliges zu. Das Beschwerderecht besteht unbeschadet anderweitiger verwaltungsrechtlicher oder gerichtlicher Rechtsbehelfe.</p>
<h3>Recht auf Daten&uumlbertragbarkeit</h3> <p>Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erf&uumlllung eines Vertrags automatisiert verarbeiten, an sich oder an einen Dritten in einem g&aumlngigen, maschinenlesbaren Format aush&aumlndigen zu lassen. Sofern Sie die direkte &Uumlbertragung der Daten an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist.</p>
<h3>Auskunft, Sperrung, L&oumlschung und Berichtigung</h3> <p>Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft &uumlber Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empf&aumlnger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder L&oumlschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten k&oumlnnen Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.</p>
<h3>Recht auf Einschr&aumlnkung der Verarbeitung</h3> <p>Sie haben das Recht, die Einschr&aumlnkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen. Hierzu k&oumlnnen Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. Das Recht auf Einschr&aumlnkung der Verarbeitung besteht in folgenden F&aumlllen:</p> <ul> <li>Wenn Sie die Richtigkeit Ihrer bei uns gespeicherten personenbezogenen Daten bestreiten, ben&oumltigen wir in der Regel Zeit, um dies zu &uumlberpr&uumlfen. F&uumlr die Dauer der Pr&uumlfung haben Sie das Recht, die Einschr&aumlnkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.</li> <li>Wenn die Verarbeitung Ihrer personenbezogenen Daten unrechtm&auml&szligig geschah / geschieht, k&oumlnnen Sie statt der L&oumlschung die Einschr&aumlnkung der Datenverarbeitung verlangen.</li> <li>Wenn wir Ihre personenbezogenen Daten nicht mehr ben&oumltigen, Sie sie jedoch zur Aus&uumlbung, Verteidigung oder Geltendmachung von Rechtsanspr&uumlchen ben&oumltigen, haben Sie das Recht, statt der L&oumlschung die Einschr&aumlnkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.</li> <li>Wenn Sie einen Widerspruch nach Art. 21 Abs. 1 DSGVO eingelegt haben, muss eine Abw&aumlgung zwischen Ihren und unseren Interessen vorgenommen werden. Solange noch nicht feststeht, wessen Interessen &uumlberwiegen, haben Sie das Recht, die Einschr&aumlnkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.</li> </ul> <p>Wenn Sie die Verarbeitung Ihrer personenbezogenen Daten eingeschr&aumlnkt haben, d&uumlrfen diese Daten - von ihrer Speicherung abgesehen - nur mit Ihrer Einwilligung oder zur Geltendmachung, Aus&uumlbung oder Verteidigung von Rechtsanspr&uumlchen oder zum Schutz der Rechte einer anderen nat&uumlrlichen oder juristischen Person oder aus Gr&uumlnden eines wichtigen &oumlffentlichen Interesses der Europ&aumlischen Union oder eines Mitgliedstaats verarbeitet werden.</p>
